/* custoem.css */

.customer, .global{
  padding-top: 20px;
}
.card{
  margin-top: 40px;
}
.btn-success{
  /* margin-top: -45px; */
  float: right;
}
.btn-success:focus {
   border-color: #fff;
   box-shadow: none;
}
h2 a,a:hover{
   color: #455a64;
}
.form-control:focus {
   box-shadow: none;
}
.pull-right {
   float: right;
   padding: 10px 18px !important;
   background-color: #fff;
   border: 2px solid #ddd !important;
   color: #455a64 !important;
   border-radius: 60px !important;
}
.mb-25 {
   line-height: 36px;
   font-size: 24px;
   color: #444 !important;
   font-weight: 600;
   margin-top: 11px;
}
.btn.btn-default.btn-rounded.print.pull-right:hover {
   background: #fafafa;
   border: 2px solid #136acd !important;
   color: #2568ef !important;
}
.done {
   margin-top: 10px;
}
.bi.bi-asterisk {
   margin-left: 0px;
   width: 7px;
   color: #ea1717;
   margin-top: -5px;
}

/* pagination */
.w-5.h-5 {
  width: 15px;
}
.relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150,.relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5.rounded-md,.relative.inline-flex.items-center.px-4.py-2.ml-3.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
   display: none !important;
}
.pagination {
   margin-left: 27px;
   margin-bottom: 10px;
}

/* customer end  */

.main-sidebar {
  background-color: #f4f6f9;
}

.main-sidebar .brand-link, .main-sidebar .brand-link:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 0;
}

.main-sidebar .img-circle {
  border-radius: 0;
}

.main-sidebar .elevation-3 {
  box-shadow: none !important;
}

.main-sidebar .nav-link {
  color: #333 !important;
}

.main-sidebar .gdJue:hover > a {
  background: #fff !important;
  border-radius: 0 30px 30px 0 !important;
  box-shadow: 0 0 3px #ddd;
}

.main-sidebar .nav-treeview {
  margin-left: 20px;
}

.main-sidebar .nav-treeview .nav-item a {
  color: #999 !important;
}

.main-sidebar .nav-treeview .nav-item:hover p {
  color: #000;
  border-radius: 0;
  box-shadow: 0;
}

.main-sidebar svg {
  width: 18px !important;
  margin-left: 0.4rem;
  font-size: 1.2rem;
  margin-right: 0.4rem;
  text-align: center;
  width: 1.6rem;
}

.content-wrapper {
  background-color: #fff;
}

.content-wrapper .btn-check:focus + .btn, .content-wrapper .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.content-wrapper .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #fff;
  border-radius: 0.50rem;
  width: 80%;
  margin-left: 120px;
}

.content-wrapper .form-control:focus {
  box-shadow: none;
}

.content-wrapper a {
  text-decoration: none;
}

.content-wrapper .svgimg {
  color: #323232;
}

.content-wrapper .guYhj {
  border: none;
  background-color: #fff;
}

.content-wrapper .done {
  margin-top: 10px;
}

.content-wrapper .dashbaord {
  margin-top: 50px;
}

.content-wrapper .dashbaord .container .row {
  text-align: center;
}

.content-wrapper .dashbaord .container .row a {
  color: #000;
  border: 1px solid #3233;
  padding: 15px 15px;
  border-radius: 6px;
}

.content-wrapper .dashbaord .container .row .pur {
  border-right: 1px solid;
}

.content-wrapper .dashbaord .container .row .pur p:nth-child(2), .content-wrapper .dashbaord .container .row .pur p:nth-child(3), .content-wrapper .dashbaord .container .row .pur p:nth-child(4) {
  margin-top: 40px;
  border: 1px solid rgba(51, 34, 51, 0.133333);
  padding: 15px 0;
  border-radius: 6px;
  background-color: aqua;
  font-weight: 500;
}

.content-wrapper .dashbaord .container .row .sal p:nth-child(2), .content-wrapper .dashbaord .container .row .sal p:nth-child(3), .content-wrapper .dashbaord .container .row .sal p:nth-child(4) {
  margin-top: 40px;
  border: 1px solid rgba(51, 34, 51, 0.133333);
  padding: 15px 0;
  border-radius: 6px;
  background-color: aqua;
  font-weight: 500;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  box-shadow: none;
}

.main-footer {
  padding: 0;
  background-color: #000;
  color: #fff;
}

.main-footer p {
  margin: 0;
}

